<ion-view view-title="" class="contentback" hide-nav-bar="true">

  <ion-content scroll="false">

    <ion-scroll>

      <div class="list">

        <div class="list card" style="margin:0 auto;width:100%;border-radius: 15px;box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);" ng-click="fctRequest()">
          <div class="item item-image">
            <img src="img/logo.jpg">
          </div>
        </div>
        
        <ion-item ng-repeat="curr in currencies" ng-model="paysend" ng-value="">{{ curr.bal_currency }} {{ curr.bal_balance }}</ion-item>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </ion-scroll>

    <ion-tabs class="tabs-icon-top middletabs">

      <ion-tab on-select="" on-deselect="" title="{{'card_coins_menue' | translate}}" badge-style="badge-assertive" icon-on="btn_coinsmenue" icon-off="btn_coinsmenue" animation="fade-in-out" style="font-size:90%;color:#fff;" ng-click="settings()">
      </ion-tab>
      <ion-tab on-select="" on-deselect="" title="{{'card_coins_coinsget' | translate}}" badge-style="badge-assertive" icon-on="btn_coinsget" icon-off="btn_coinsget" animation="fade-in-out" style="font-size:90%;color:#fff;" ng-click="coinsget()">
      </ion-tab>
      <ion-tab on-select="" on-deselect="" title="{{'card_coins_coinssend' | translate}}" badge-style="badge-assertive" icon-on="btn_coinssend" icon-off="btn_coinssend" animation="fade-in-out" style="font-size:90%;color:#fff;" ng-click="coinssend()">
      </ion-tab>

    </ion-tabs>

  </ion-content>
</ion-view>
